.chat-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: skyblue;
  overflow-y: hidden;
}

.msg-user-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
  max-height: 95%;
}

.components {
  margin: 5px;
}
