.chat-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: skyblue;
    overflow-y: hidden;
}

.msg-user-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    max-height: 95%;
}

.message-window {
    border: 1px solid black;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    width: 100%;
    word-break: break-all;
}

.user-list {
    border: 1px solid black;
    flex-shrink: 0;
}

.components {
    margin: 5px;
}

.chat-input-wrap {
    height: 5%;
    padding:0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-input {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

#internet-status-indeicator {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
}